---
const currentYear = new Date().getFullYear()
---

<footer
  class="flex flex-wrap items-center justify-center gap-2 py-10 text-xs text-gray-500 dark:text-gray-400"
>
  <p>&copy; {currentYear}</p>
  {/* Corrected the syntax on the line below */}
  <a
    href="https://www.letterswitchpublishing.com"
    class="text-gray-500 hover:text-gray-700"
  >
    Letterswitch Publishing
  </a>
  <p>&bull;</p>
  <p>Powered by</p>
  <a href="https://astro.build" class="hover:underline">Astro</a>
  <p>&amp;</p>
  <a
    href="https://www.mainandmerseyhomestore.ca/pages/the-dining-room"
    class="hover:underline"
  >
    Main and Mersey Coffee
  </a>
</footer>
